<html>
    <head>
        <title>Personal Details</title>
        <!-- Bootstrap core CSS http://http://getbootstrap.com/ 
             hosted online at http://www.bootstrapcdn.com/-->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
         <!-- Custom styles for form -->
        <link href="/CarInsuranceBroker/view/forms.css" rel="stylesheet">
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="jumbotron">
            <h1>Car Insurance Broker</h1>
        </div>
        
        <form class="form-horizontal" role= "form" method="post">
            <h2>Personal Details</h2>
            <p>Please fill in your personal details carefully.</p>
            
            <div class="form-group">
                <?php if(isset($list_of_errors)) {echo $list_of_errors;} ?>
            </div>
            <div class="form-group">
                <label for="title" class="col-md-6 control-label">Title </label>
                    <select name="title" class="form-control">
                            <option value="mr">Mr</option>
                            <option value="mrs">Mrs</option>
                            <option value="miss">Miss</option>
                            <option value="dr">Dr</option>
                            <option value="other">Other</option>
                      </select>
            </div>
            <div class="form-group">
                <label for="forenames" class="col-md-6 control-label">Forenames:</label>
                <input type="text" class="form-control" name="forenames" id="forenames">
            </div>
            <div class="form-group">
                <label for="surname" class="col-md-6 control-label">Surname:</label> 
                <input type="text" class="form-control" name="surname"  id="surname">
            </div>
            <div class="form-group">
                <label for="dob" class="col-md-6 control-label">Date of birth:</label> 
                <input type="date" class="form-control" name="dob"  id="dob">
            </div>
            <div class="form-group">
                <label for="email" class="col-md-6 control-label"> E-mail Address:</label> 
                <input type="email" class="form-control" name="email"  id="email">
            </div>
            <div class="form-group">
                <label for="telephone" class="col-md-6 control-label">Telephone number:</label> 
                <input type="text" class="form-control" name="telephone" id="telephone">
            </div>
            <div class="form-group">
                <label for="license_type" class="col-md-6 control-label">License Type:</label> 
                <select name="license_type" class="form-control">
                    <option value="full">Full</option>
                    <option value="provisional">Provisional</option>
                </select>
            </div>
            <div class="form-group">
                <label for="license_period" class="col-md-6 control-label">License Period:</label> 
                <input type="text" class="form-control" name="license_period" id="license_period">
            </div>
            <div class="form-group">
                <label for="occupation" class="col-md-6 control-label">Occupation:</label> 
                <input type="text" class="form-control" name="occupation" id="occupation">    
            </div>
            <div class="form-group">
                <div  class="col-md-12 control-label">
                    <button type="submit" class="btn btn-default pull-right" name="person">Next</button>
                </div>
            </div>
        </form>
    </body>
</html>
